<div id="new"></div>

<script>
	evaluation = new models.Evaluation({ _post_id: <%= @evaluation.post_id %>, _id: <%= @evaluation.id %>});
	evaluation.fetch();
	new views.EvaluationsNewView({el: "#new", model: evaluation, current_user: current_user});
</script>
