<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>OpenTok Getting Started</title>
  <script src="http://static.opentok.com/v0.91/js/TB.min.js"></script>

  <script type="text/javascript">
    var apiKey = '21886882';
    var sessionId = '1_MX4yMTg4Njg4Mn4xMjcuMC4wLjF-U2F0IERlYyAwMSAyMTozODo0OCBQU1QgMjAxMn4wLjAzMjQ0NjI2NX4';
    var token = 'T1==cGFydG5lcl9pZD0yMTg4Njg4MiZzaWc9NzllZDI5NTY0NDYyODBhZGMzMjEyYjcxMDQ5NmQ1YjM4YmQ2N2EwZjpzZXNzaW9uX2lkPTFfTVg0eU1UZzROamc0TW40eE1qY3VNQzR3TGpGLVUyRjBJRVJsWXlBd01TQXlNVG96T0RvME9DQlFVMVFnTWpBeE1uNHdMakF6TWpRME5qSTJOWDQmY3JlYXRlX3RpbWU9MTM1NDQyNjc0MiZleHBpcmVfdGltZT0xMzU3MDE4NzQyJnJvbGU9cHVibGlzaGVyJmNvbm5lY3Rpb25fZGF0YT0mbm9uY2U9MjQ3Mzg3';

    TB.setLogLevel(TB.DEBUG); // Set this for helpful debugging messages in console

     var session = TB.initSession(sessionId);			
     session.addEventListener('sessionConnected', sessionConnectedHandler);			
     session.connect(apiKey, token);

     function sessionConnectedHandler(event) {
       alert('Hello world. I am connected to OpenTok :).');
     }
  </script>

  </head>

<body>
</body>
</html>